<%= form_with(model: url_mapping, local: true) do |form| %>
  <% if url_mapping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(url_mapping.errors.count, "error") %> prohibited this url_mapping from being saved:</h2>

      <ul>
      <% url_mapping.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :target_url %>
    <%= form.text_field :target_url %>
  </div>

  <div class="field">
    <%= form.label :short_path %>
    <%= form.text_field :short_path %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
